extends page

append container
	.ui.fixed.inverted.menu(style='background-color: white;box-shadow: rgba(125, 125, 125, 0.5) 0px 2px 4px')
		.ui.container
			.item.aligned.right(style='color: black')
				form(name='logout', action='/logout', method='POST')
					a(href='#', onClick='document.getElementsByName("logout")[0].submit();') 로그아웃
	.ui.middle.aligned.center.aligned.grid(style='height: 100%'): .column() 
		.ui.padded.secondary.segment
			form.dropzone(action='/upload', method='POST', enctype='multipart/form-data')
			