extends layout

append body
    main
        center
            br
            h3.teal-text.text-lighten-1 어서와
            br
            .container
                .z-depth-1.grey.lighten-4.row(style='display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE')
                    form.col.s12(method='post')
                        .row
                            .col.s12
                        .row
                            .input-field.col.s12
                                input#text.validate(type='text', name='text')
                                label(for='text') 학번
                        .row
                            .input-field.col.s12
                                input#password.validate(type='password', name='password')
                                label(for='password') 비밀번호
                            label(style='float: right')
                                a.pink-text(href='#!')
                                    b 비밀번호를 잊으셨나요?
                        br
                        center
                            .row
                                button.col.s12.btn.btn-large.waves-effect.teal(type='submit', name='btn_login') Login
            a.teal-text(href='/register') 회원가입
append stylesheets
    link(href='/resources/css/login.css', type='text/css', rel='stylehseet')
