extends layout

append body
    .container
        .row
            .col.s4
            .col.s4
                .card-panel.hoverable.valign(style='margin-top: 30vh; padding-bottom: 0.4vh')
                    form(action='#' onSubmit='handleLogin()' method='post')
                        .row
                            .input-field.col.s12
                                input#text.validate(type='text', name='id')
                                label(for='text') 학번
                            .input-field.col.s12
                                input#text.validate(type='password', name='password')
                                label(for='text') 비밀번호
                            button.col.s12.btn.wave-effect.waves-light(style='margin-top: 2vh; margin-bottom: 2vh; height: 40px' type='submit' name='action') Login
                                i.material-icons.right send
                            .col.s12.right-align: span.blue-text.text-darken-2
                                a(href='/register' style=) 회원가입
            .col.s4
