extends layout

append stylesheets
	link(rel='stylesheets', type='text/css', href='/resources/css/main.css')

append body
	nav
		div(class='nav-wrapper teal')
			div(class='container')
				a(href='#', class='brand-logo') 춘천중학교 정보 과제 제출
				ul(id='nav-mobile', class='right hide-on-me-and-down')
	div(class='container')
		div(class='row')
			form(class='col s12')
				div(class='row')
					div(class='input-field col s6')
						input(id='number', type='text', class='validate')
						label(for='number') 학번
