extends layout

append body
	nav
		div(style='padding-left : 0.5em', class='nav-wrapper teal')
			a(href='#', class='brand-logo') 춘중 정보 과제 제출
			ul(id='nav-mobile', class='right hide-on-me-and-down')
				li
					a 테스트1
				li
					a 테스트2
				li
					a 테스트3
