extends page

append container
	.ui.middle.aligned.center.aligned.grid#wrapper: .column
		form.ui.large.form(action='#' method='POST')
			.ui.padded.secondary.segment
				.field: .ui.left.icon.input
					i.student.icon
					input(type='text' name='id' placeholder='학번')
				.field: .ui.left.icon.input
					i.user.icon
					input(type='text' name='name' placeholder='이름')
				.field: .ui.left.icon.input
					i.lock.icon
					input(type='password' name='password' placeholder='비밀번호')
				.field: .ui.left.icon.input
					i.lock.icon
					input(type='password' name='repassword' placeholder='비밀번호 재입력')
				.ui.fluid.large.pink.submit.button 회원가입
			.ui.error.message
		.ui.message.grey
			a(href='/login') 로그인

append stylesheets
	link(rel='stylesheet' type='text/css' href='/resources/css/register.css')

append scripts
	script(src='/resources/js/register.js')
