body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

body {
    background: #fff;
}

.input-field input[type=date]:focus+label, .input-field input[type=text]:focus+label, .input-field input[type=email]:focus+label, .input-field input[type=password]:focus+label {
    
}

.input-field input[type=date]:focus, .input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field input[type=password]:focus {
    border-bottom: 2px solid;
    box-shadow: none;
}
